*.pyc
*.cfg
*.csv

bin/
data/
__pycache__/
lib/
.ipynb_checkpoints/
.vscode/
data/

src/__pycache__/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/

.gitignore
requirements.txt
.cache-a2la4jzttvnov9au11hwf56z8
*/client_secret.py
